<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pragtik Livraison Perso</title>
  <script
  src="https://code.jquery.com/jquery-1.12.4.js"
  integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
  crossorigin="anonymous"></script>
  <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
  crossorigin="anonymous"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="Style.css">
</head>


<body>
    <div id='textlivraison'>
        <p>Bienvenue dans la livraison perso Pragtik, inscrit toi ou connecte toi, et nous te mettrons en relation avec un coursier... <br>EN CONSTRUCTION, PROCHAINEMENT EN V2</p><br><br>
        <p>T'es devant la Boîte avec tes potes tu cherches de l'EAU mais il est 00h30 ?</p>
        <p>#PragtikRégaleTaSoif</p>
        <p>On est férié tu veux ton Coca vanille sans claqué ta cb dans un bars ?</p>
        <p>#PragtikBombaStick</p>
        <p>T'as ton Bb dans les bras, le pauvre a faim t'as pas de lait en poudre ?<br> #PragtikBientotLaLivraison</p>
    </div>
    <a href="/carte" id='Button-précédent'>
        <input type="submit" class = "btn btn-link btn-lg" value="Précedent"></input>
    </a>
</body>


</html>
